{{#if newItems}}
  <div class="alert alert-info" {{action "showNewItems"}}>
    {{newItems.length}} new item
  </div>
{{/if}}

{{#each (sort-by model 'createdAt' desc=true) as |item|}}
  {{#eb-panel title=item.title as |p|}}
    {{#p.content}}
      <img src={{item.pictureURL}} style="float: left; margin-right: 4px" /> {{item.body}}
    {{/p.content}}
    {{#p.footer}}
      {{moment-from-now item.createdAt}}
    {{/p.footer}}
  {{/eb-panel}}
{{/each}}

<div style="position: fixed; right: 10px; top: 50px">
  <button {{action "_fireFakeNotification"}}>Go</button>
</div>
